
body.dark-theme {
  background-color: #292a2d;
  color: #a9a9b3;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
a {
  color: #161209;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}
a:hover {
  color: #28df99;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme a {
  color: #a9a9b3;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme a:hover {
  color: #28df99;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.navbar {
  height: 4rem;
  line-height: 4rem;
  width: 100%;
}
.navbar .container {
  width: auto;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.container {
  padding-left: 1em;
  padding-right: 1em;
}
.footer {
  height: 6rem;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  font-size: 12px;
  margin-top: 15vh;
  margin-bottom: 65px;
}



.switch_default[type="checkbox"]{
    display: none;
}
.switch_default + label{
     background-color: #292a2d;
     border-radius: 7px;
     cursor: pointer;
     display: inline-block;
     height: 14px;
     position: relative;
     box-shadow: 0.2px 0.2px 1px 0.5px rgb(180,180,180);
     width: 30px;
 }
.switch_default + label:after{
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 12px;
    box-shadow: 0.2px 0.2px 1px 0.5px rgb(180,180,180);
}
.switch_default:checked + label{
    background-color: #28df99;
    box-shadow:none;
}
.switch_default:checked + label:after{
    left: 17px;
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-logo a {
  padding: 0;
}
.navbar .menu a {
  padding: 0 8px;
}
.navbar .menu .active {
  font-weight: 900;
  color: #161209;
}
.dark-theme .navbar .menu .active {
  color: #fff;
}
.navbar-header a:hover,
.navbar .menu a:hover {
  background-color: transparent;
}
header label {
  margin-right: 1.5em;
  position: relative;
  /*-webkit-transform: translateY(0.1em) translateX(0.5em);*/
}
.copyright {
  font-size: 14px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  padding-top: 2em;
}
.pagination a,
.pagination span {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #bfbfbf;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 5px 5px;
  text-decoration: none;
  transition: 0.3s;
}
.pagination .page-number {
  padding-bottom: 3px;
  margin: 0 20px;
  box-sizing: border-box;
  position: relative;
  display: inline;
}
.pagination .page-number.disabled {
  display: none;
}
.pagination .page-number:hover a {
  color: #000;
}
.dark-theme .pagination .page-number:hover a {
  color: #fff;
}
.pagination .page-number:before,
.pagination .page-number:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #000;
  transition: 0.3s;
  bottom: 0px;
}
.dark-theme .pagination .page-number:before,
.dark-theme .pagination .page-number:after {
  background: #fff;
}
.pagination .page-number:before .current,
.pagination .page-number:after .current {
  width: 100%;
}
.pagination .page-number:before {
  left: 50%;
}
.pagination .page-number:after {
  right: 50%;
}
.pagination .page-number:hover:before,
.pagination .page-number:hover:after {
  width: 50%;
}
.pagination .page-number.current {
  color: #000;
}
.dark-theme .pagination .page-number.current {
  color: #fff;
}
.pagination .page-number.current:before,
.pagination .page-number.current:after {
  width: 60%;
}
.intro {
  transform: translateY(16vh);
  text-align: center;
}
.intro .avatar {
  padding: 10px;
}
